* {
  box-sizing: border-box;
}

/* .parent {
  width: 1000px;
  background-color: rgb(187, 184, 184);
}

.child {
  width: 400px;
  height: 200px;
  margin: 0 auto;
}

.red {
  background-color: red;
  margin-left: auto;
  margin-right: auto;
}

.yellow {
  background-color: yellow;
} */

span {
  background-color: orange;
  padding-left: 40px;
  padding-right: 100px;
  padding-top: 200px;
}
